/********************

  基本的には触らないCSS　

*********************/

@charset "utf-8";

/*左右ぷるぷる1*/

.btn-Anim1 {
    margin: 0 auto;
    animation: skew 2.0s linear infinite;
    transform-origin: center;
    cursor: pointer;
}


/* skewの動きをここで設定 */

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }
    5% {
        transform: skew(2deg, 2.2deg);
    }
    10% {
        transform: skew(-1deg, -1deg);
    }
    15% {
        transform: skew(0.5deg, 1.2deg);
    }
    20% {
        transform: skew(-2deg, -1.5deg);
    }
    25% {
        transform: skew(0.9deg, 0.9deg);
    }
    30% {
        transform: skew(-0.6deg, -0.6deg);
    }
    35% {
        transform: skew(0.3deg, 0.3deg);
    }
    40% {
        transform: skew(-0.2deg, -0.2deg);
    }
    45% {
        transform: skew(0.1deg, 0.1deg);
    }
    50% {
        transform: skew(0deg, 0deg);
    }
}


/*左右ぷるぷる1*/

.btn-Anim2 {
    margin: 0 auto;
    animation: skew 2.0s linear infinite;
    transform-origin: center;
    cursor: pointer;
}


/* skewの動きをここで設定 */

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }
    5% {
        transform: skew(2deg, 2.2deg);
    }
    10% {
        transform: skew(-1deg, -1deg);
    }
    15% {
        transform: skew(0.5deg, 1.2deg);
    }
    20% {
        transform: skew(-2deg, -1.5deg);
    }
    25% {
        transform: skew(0.9deg, 0.9deg);
    }
    30% {
        transform: skew(-0.6deg, -0.6deg);
    }
    35% {
        transform: skew(0.3deg, 0.3deg);
    }
    40% {
        transform: skew(-0.2deg, -0.2deg);
    }
    45% {
        transform: skew(0.1deg, 0.1deg);
    }
    50% {
        transform: skew(0deg, 0deg);
    }
}


/*左右ぷるぷる1*/

.btn-Anim3 {
    margin: 0 auto;
    animation: skew 2.0s linear infinite;
    transform-origin: center;
    cursor: pointer;
}


/* skewの動きをここで設定 */

@keyframes skew {
    0% {
        transform: skew(0deg, 0deg);
    }
    5% {
        transform: skew(2deg, 2.2deg);
    }
    10% {
        transform: skew(-1deg, -1deg);
    }
    15% {
        transform: skew(0.5deg, 1.2deg);
    }
    20% {
        transform: skew(-2deg, -1.5deg);
    }
    25% {
        transform: skew(0.9deg, 0.9deg);
    }
    30% {
        transform: skew(-0.6deg, -0.6deg);
    }
    35% {
        transform: skew(0.3deg, 0.3deg);
    }
    40% {
        transform: skew(-0.2deg, -0.2deg);
    }
    45% {
        transform: skew(0.1deg, 0.1deg);
    }
    50% {
        transform: skew(0deg, 0deg);
    }
}